body {
  background-color: lightblue;
  background-size: cover;
}

#heading {
  font-family: 'Slabo 27px', serif;
}

.weather {
  background-color: #ECF0F1;
  padding: 35px 0px;
  border-radius: 5px;
}

.moment {
  background-color: darkgrey;
  padding: 20px 0px;
  border-radius: 5px;
}