body {
  background-color: lightblue;
  background:url('https://images.unsplash.com/photo-1484889176133-94079a66d71a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60') no-repeat center center fixed;
  background-size: cover;
}

#heading {
  font-family: 'Slabo 27px', serif;
}

.weather {
  background-color: #ECF0F1;
  padding: 35px 0px;
  border-radius: 5px;
}

.moment {
  background-color: darkgrey;
  padding: 20px 0px;
  border-radius: 5px;
}